<main>
    <section class="tasks">
        <div class="task">
            <form action="">
                <div>
                    <input type="radio" id="task-1">
                    <label for="task-1">Completar Curso</label>
                </div>
                <button>
                    <img src="/imagens/x-icon.png" alt="icone para excluir tarefa">
                </button>
            </form>
        </div>
        <div class="task">
            <form action="">
                <div>
                    <input type="radio" id="task-1">
                    <label for="task-1">Completar Curso</label>
                </div>
                <button>
                    <img src="/imagens/x-icon.png" alt="icone para excluir tarefa">
                </button>
            </form>
        </div>
        <div class="task">
            <form action="">
                <div>
                    <input type="radio" id="task-1">
                    <label for="task-1">Completar Curso</label>
                </div>
                <button>
                    <img src="/imagens/x-icon.png" alt="icone para excluir tarefa">
                </button>
            </form>
        </div>
        <div class="info">
            <p>5 active tasks</p>
            <a href="">Clear Completed</a>
        </div>
    </section>
    
    <section class="buttons">
        <a href="">All</a>
        <a href="">Active</a>
        <a href="">Completed</a>
    </section>
</main>