<main>
    <section class="tasks">
        <div class="task">
            <form action="">
                <div>
                    <input type="radio" id="task-1">
                    <label for="task-1">Completar Curso</label>
                </div>
                <button>
                    <img src="/imagens/x-icon.png" alt="icone para excluir tarefa">
                </button>
            </form>
        </div>
    </section>
</main>