<main>
    <section class="tasks">
        {{#each tarefas}}
            <div class="task">
                <form action="">
                    <div>
                        <input type="checkbox" id="task-{{this.id}}">
                        <label for="task-{{this.id}}">{{this.description}}</label>
                    </div>
                    <button>
                        <img src="/imagens/x-icon.png" alt="icone para excluir tarefa">
                    </button>
                </form>
            </div>
        {{/each}}
        <div class="info">
            <p>5 active tasks</p>

            <div class="buttons">
                <a href="" class="active">All</a>
                <a href="">Active</a>
                <a href="">Completed</a>
            </div>

            <a href="">Clear Completed</a>
        </div>
    </section>
    
    <section class="buttons">
        <a href="" class="active">All</a>
        <a href="">Active</a>
        <a href="">Completed</a>
    </section>
</main>